<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Bongiflix</title>
</head>
<body>
  <div id="root">
    <header>
      <div class="container flex">
        <div class="logo">
          <h1>Bongiflix</h1>
        </div>
        <div class="search-bar">
          <input type="text" name="" value="" placeholder="Cerca un film..." v-model="searchMovie">
          <button @click="getMovie"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </header>
    <main>
      <div class="movie-content flex">
        <div class="card" v-for="movie in movies">
          <div class="poster">
            <img v-if="movie.poster_path != null" :src=`https://image.tmdb.org/t/p/w342/${movie.poster_path}` alt="poster">
            <img v-else src="./assets/img/img-notfound.png" alt="not-found">
          </div>
          <div class="overlay flex">
            <p class="title">{{ movie.title }}</p>
            <p class="original-title">{{ movie.original_title }}</p>
            <!-- <p>{{ movie.original_language }}</p> -->
            <p class="voto">{{ movie.vote_average }}/10</p>
            <img v-if="movie.original_language == 'en'" src="https://www.countryflags.io/gb/shiny/64.png">
            <img v-elseif="movie.original_lenguage =='ko'" src="https://www.countryflags.io/kr/shiny/64.png" alt="">
            <img v-else :src=`https://www.countryflags.io/${movie.original_language}/shiny/64.png` alt="language">
          </div>
        </div>
      </div>
    </main>
  </div>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
