/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 35px;
}
.original-title {
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  font-style: italic;
}

.overview {
  margin-top: 15px;
  font-size: 15px;
}

.voto {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
}
/* /UTILITIES */

/* NAVBAR */
h1 {
  color: #fff;
  font-size: 50px;
}

body {
  background-color: #111010;
}

.container {
  width: 80%;
  max-width: 1900px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35);
  padding: 20px 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
/* /NAVBAR */

/* MAIN */
body {
  overflow-y: hidden;
  position: relative;
}

main {
  height: calc(100vh - 100px);
  overflow-y: auto;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
}

.logo {
  align-items: center;
}

.back {
  margin-left: auto;
}

.back > a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.movie-content {
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.img-cons {
  height: 100%;
}

.img-cons > img {
  height: 100%;
}

.prev, .next {
  align-items: center;
  color: #d32f2f;
}

.prev > i {
  transform: rotate(270deg);
  font-size: 30px;
  cursor: pointer;
}

.next > i {
  transform: rotate(90deg);
  font-size: 30px;
  cursor: pointer;
}

.img-cons {
  position: relative;
}

.img-cons > h1 {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.img-cons > .year {
  position: absolute;
  bottom: 15px;
  right: 100px;
  color: #fff;
  font-style: italic;
  font-size: 30px;
}

.img-cons > .reg {
  position: absolute;
  bottom: 15px;
  left: 70px;
  color: #fff;
  font-size: 30px;
}


/* /MAIN */

/* scrollbar */
main::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.descrizione::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.descrizione::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
}

.descrizione::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
/* /scrollbar */
@media all and (max-width: 1024px) {
  .card {
    width: calc(100%/3 - 6px)
  }
}

@media all and (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 6px);
  }

  h1 {
    font-size: 40px;
    margin-right: 25px;
  }

  .search-bar > input {
    width: 180px;
  }
}

@media all and (max-width: 576px) {
  .card {
    width: calc(100%);
  }

  h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .container {
    flex-direction: column;
  }

  header {
    padding: 10px 0;
  }

  main {
    margin-top: 115px;
  }

  .movie-content {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .search-bar > input {
    width: 170px;
  }

  select {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .search-bar > input {
    width: 150px;
    font-size: 12px;
  }

  .search-bar {
    margin-left: 5px;
  }

  .movie-content {
    margin-top: 5px;
  }
}
