/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

/* /UTILITIES */

/* NAVBAR */
h1 {
  color: #fff;
}

body {
  background-color: #111010;
}

.container {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35);
  padding: 20px 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.search-bar > button {
  outline: none;
  border: none;
  background-color: inherit;
}

.search-bar > button > i {
  color: #fff;
}

.search-bar > input {
  color: #fff;
  border: 0;
  outline: 0;
  background-color: inherit;
}

::placeholder {
  color: #fff;
}

.search-bar {
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* /NAVBAR */

/* MAIN */
main {
  margin-top: 100px;
}

.movie-content {
  flex-wrap: wrap;
}

.overlay > p {
  color: #fff;
}

.card {
  border-radius: 10px;
  width: calc(100%/4 - 40px);
  margin: 10px 20px;
  height: 530px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.poster > img {
  border-radius: 10px;
  width: 100%;
  height: 530px;
}

.card:hover .overlay {
  border-radius: 10px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}





/* /MAIN */
