/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 35px;
}

.original-title {
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  font-style: italic;
}

.overview {
  margin-top: 15px;
  font-size: 15px;
}

.voto {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
}
/* /UTILITIES */

/* NAVBAR */
h1 {
  color: #fff;
  font-size: 50px;
}

body {
  background-color: #111010;
}

.container {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35);
  padding: 20px 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.search-bar > button {
  outline: none;
  border: none;
  background-color: inherit;
}

.search-bar > button > i {
  color: #fff;
}

.search-bar > input {
  width: 250px;
  color: #fff;
  border: 0;
  outline: 0;
  background-color: inherit;
}

::placeholder {
  color: #fff;
}

select {
  width: 130px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: inherit;
  border: none;
  color: #fff;
}

option {
  background-color: #d32f2f;
}

.search-bar {
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cmd {
  align-items: center;
}

.cmd > .switch-lang {
  margin-left: 30px;
}

.switch-lang > * {
  border: 0;
  background-color: inherit;
  color: #fff;
  padding: 0 10px;
}

.switch-lang > button > span {
  cursor: pointer;
}

.ita {
  border-right: 2px solid #fff;
}
/* /NAVBAR */

/* MAIN */
body {
  overflow-y: hidden;
}

main {
  margin-top: 100px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  margin-bottom: 50px;
}

.movie-content {
  flex-wrap: wrap;
}

.overlay > p {
  color: #fff;
  cursor: pointer;
}

.card {
  border-radius: 10px;
  width: calc(100%/4 - 6px);
  margin: 6px 3px;
  height: 500px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.poster > img {
  border-radius: 10px;
  width: 100%;
  height: 500px;
}

.card:hover .overlay {
  border-radius: 10px;
  display: flex;
}

.descrizione {
  margin-top: 10px;
  height: 30%;
  overflow-y: auto;
  padding: 0 5px;
}

.descrizione > p {
  color: #fff;
}

.overlay {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 20px;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay > img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
}

.overlay > p.voto {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

div.stars {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.stars > p > i {
  color: #d32f2f;
}

/* /MAIN */

/* scrollbar */
main::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.descrizione::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.descrizione::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
}

.descrizione::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9b2d2d, #a42f2e, #ae3130, #b73331, #c03632, #ca3833, #d33a34, #dd3d35); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
/* /scrollbar */
@media all and (max-width: 1024px) {
  .card {
    width: calc(100%/3 - 6px)
  }
}

@media all and (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 6px);
  }

  h1 {
    font-size: 40px;
    margin-right: 25px;
  }

  .search-bar > input {
    width: 180px;
  }
}

@media all and (max-width: 576px) {
  .card {
    width: calc(100%);
  }

  h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .container {
    flex-direction: column;
  }

  header {
    padding: 10px 0;
  }

  main {
    margin-top: 115px;
  }

  .movie-content {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .search-bar > input {
    width: 170px;
  }

  select {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .search-bar > input {
    width: 150px;
    font-size: 12px;
  }

  .search-bar {
    margin-left: 5px;
  }

  .movie-content {
    margin-top: 5px;
  }
}
